#ex1 {
  width: 200px;
  height: 100px;
  border: 3px solid green;
}


#ex2{
      width: 150px;
      height: 150px;
      background-color: blue;
    }

p{
    color: red;
     font-size: 20px;
      font-family: Arial; 
}

#ex4{
    text-align: center;
    color: purple;

}
#ex5{
    background-color: #eeeeee;
  padding: 25px;
}
#ex6a{
     width: 100px;
  height: 100px;
  background-color: orange;
  
   margin-bottom: 30px;
}
#ex6b{
     width: 100px;
  height: 100px;
  background-color: orange;
}
#ex7{ width: 100px;
  height: 100px;
  background-color: black;
border-radius:50%;;}
#ex8{
     width: 500px;
  height: 50px;
  border: 2px dashed cyan
}
.mensagem{
    font-weight: bolder;
}

a{
    text-decoration: none;
}

a:hover{
    color: red;
}