html,body{
    margin: 0;
    padding: 0;

        background-color: #1C1C1C;
        color: #FEFEFE;
}

header{
    border-bottom: 1px red solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}
nav{
    display: flex;
     gap: 24px;
}

a{
    color: white;
    font-size: 22px;
    text-decoration: none;
}